body {
    background-color: rgba(12, 65, 139, 0.612);
    text-align: center;
}

/* .center {
    margin-left: auto;
    margin-right: auto;
    border:solid 2px black
}
.
td {
    width: 10px;
    height: 10px;
    text-align: center;
    font-size: 30px;
    border: 2px solid black;
    
} */
h1{
    background-color: dodgerblue;
    width: 373px;
    margin-bottom: 15px;
    margin-inline: auto;
    font-size: x-large;
}

.game-board {
    height: 300px;
    width: 300px;
    margin-left: 470px;
    margin: top 60px;


}

.mineBoard {
    border-collapse: collapse;
    height: 300px;
    width: 300px;
}

.mineBoard td {
    background-color: gray;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    text-align: center;

}

.Clicked {
    background-color: chocolate;
}

span {
    color: red;
    display: none;

}
.timer{
    display: block;
}

footer {
    margin-top: 165px;
    font-size: xx-large;
    font-family: cursive;
    background-color: aliceblue;
}

footer :hover {
    background-color: darkred;
}

.gameOver {
    font-family: fantasy;
    background-color: antiquewhite;
    font-size: x-large;
    display: none;
    
}
button{
    height: 25px;
    width: 47px;
    background-color: bisque;
    border: double 2px darkslateblue;
    margin-right: 60px;
    margin-bottom: inherit;
}

.Level{
    height: 25px;
    width: 60px;
    background-color: bisque;
    border: double 2px darkslateblue;
    margin-right: 15px;
    margin-bottom: inherit;
}

.level1{
    background-color: greenyellow;
}

.level2{
    background-color: yellow;
}
.level3{
    background-color: red;
}